
*.log
*.aux
*.bbl
*.blg
*.pdf
*.gz
*.toc
graficos/parametrizacao - copia.svg
graficos/parametrizacao - copia.svg.2019_05_08_16_01_00.0.svg
graficos/parametrizacao - copia.svg.2019_05_08_16_03_07.0.svg
graficos/projecao_estereografica.svg.2019_05_08_15_51_05.0.svg
*.out
